  <header>
    <div class="navbar">
      <div class="logo">Vedanta Residency</div>
      <nav>
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/addProperty">Add Property</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      </nav>
    </div>
  </header>